*{
  background-image: url("always_grey.png");
}
body {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
